*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    display:flex;
    align-items : center;
    justify-content : center;
    background-color:rgb(10,20,30);
    border: 2px solid rgb(10,20,30);
    color:gold;
    padding-top: 0px;
    padding-left: 10px;
    margin-bottom: 2rem;
}


#download {
    background-color: rgb(10,20,30);
    border-color: rgb(10,20,30);
    color: gold;
    text-shadow: none;
    font-size: smaller;
    text-decoration: none;
    /* space */
}


body{
    background-image: url('https://wallpapercave.com/wp/wp6316198.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}



.ranger{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}



.row{
    margin-top: 2rem;
    background-color: rgb(10,20,30);

}

#carousel{
    margin-left: 7%;
    margin-right: 7%;

}

.img{
    background-color: white;
    border: 3px;
    border-color: rgb(10,20,30);
}

.carousel-item{
    display: flex;
    justify-content: center;
    align-self: center; 
}


h5, h3{
    font-size: 10px;
    color: gold!important;
}

footer{
    margin-top: 2rem;
    color:gold;
}
